@model IEnumerable<BO.Category>

@{
    ViewBag.Title = "Gestion des Catégories";
}

<h2>Gestion des Catégories</h2>

<table class="table" style="text-align:center">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Modifier", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Détails", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Supprimer", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Enregister une nouvelle catégorie", "Create")
</p>
