<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Application de course ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<<<<<<< HEAD
                @Html.ActionLink("Le Sport commence ici", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
=======
                @Html.ActionLink("Gestion Courses", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
>>>>>>> 5baae3940ea1f1e2d00f3d843683c799573f6f35
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("À propos de", "About", "Home")</li>

                    <li>@Html.ActionLink("Courses", "Index", "Races")</li>
                 //   @if(HttpContext.Current.User.Identity.IsInRole("Admin)"))
                   // {
                      <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                   // }
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
<<<<<<< HEAD
            <p>&copy; @DateTime.Now.Year - Morgan - Matthieu - Isaac - Mariam</p>
=======
            <p>&copy; @DateTime.Now.Year - Gestion Course</p>
>>>>>>> 5baae3940ea1f1e2d00f3d843683c799573f6f35
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
